<header class="header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-sm-0">
                <div class="logo" style="width: 120px;
                height: 35px;
                object-fit: contain;
                margin-left: -40px;
                display: flex;
                align-items: center;">
                    <img src="assets/images/Minimal-Business-Logo-Reveal-f-unscreen.gif" alt="logo" />
                    <img src="assets/images/text.png" alt="logo"  style="width: 100%;
                    height: 100%;
                    border-radius: 0px;
                    margin-left: -30px !important;"/>
                    <!-- <a routerLink="/"><p style="color: #ce202f;">Superior Digital</p></a> -->
                    <img src="assets/images/authorized.png" alt="Top Right Logo" style="width: 85%; height: auto; margin-left: 20px;" />

                </div>
            </div>

            <div class="col-lg-9 col-sm-6 text-end pr-0">
                <div class="header-content-right">
                    <ul class="header-contact">
                        <li><a href="tel:+91 80 2311 6047"><i class="bx bxs-phone-call"></i>+91 80 2311 6047</a></li>
                        <li><a href="mailto:enquiry&#64;superiorsystems.in"><i class="bx bxs-envelope"></i>enquiry&#64;superiorsystems.in</a></li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-lg-2 col-sm-6 text-end pl-0">
                <div class="header-content-right">
                    <ul class="header-social">
                        <li><a href="https://www.facebook.com/superiorsystems.in/" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/superior_digital/" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="https://x.com/superior_sd" target="_blank"> <i class="bx bxl-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/superior-digital-pvt-ltd/" target="_blank"> <i class="bx bxl-linkedin"></i></a></li>
                    </ul>
                </div>
            </div> -->

            <!-- Removed by Diwakar -->
            <!-- <div class="col-lg-3 col-sm-6 text-end pl-0" style="display: flex; justify-content: flex-end;">
                <div class="logo-top-right" style="width: 100px; height: auto; margin-top: -3px;">
                    <img src="assets/images/authorized.png" alt="Top Right Logo" style="width: 100%; height: auto;" />
                </div>
            </div> -->
            <!-- Removed by Diwakar -->
        </div>
    </div>
</header>

<div class="{{navbarClass}}">
    <div
        class="main-nav"
        [ngClass]="{'sticky': isSticky}"
    >
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" [class.active]="classApplied">
                <a class="navbar-brand d-none" routerLink="/">
                    <!-- <p style="color: #ce202f;">Superior Digital</p> -->
                <div style="width: 119px; height: 35px; object-fit: contain; display: flex;
                align-items: center; margin-left: -30px;">
                    <img src="assets/images/Minimal-Business-Logo-Reveal-f-unscreen.gif" alt="logo"  />
                    <img src="assets/images/text.png" alt="logo"  style="width: 100%;
                    height: 100%;
                    border-radius: 0px;
                    margin-left: -30px !important;"/>
                </div>
                </a>
                <a class="navbar-brand d-none" routerLink="/">
                <div style="width: 119px; height: 35px; object-fit: contain; display: flex;
                align-items: center; margin-left: -30px;">
                    <img src="assets/images/authorized.png" alt="Top Right Logo" style="width: 90px; height: auto; margin-top: -3px; margin-left: 50px;" />
                    
                </div>
            </a>
                <a class="navbar-brand hide-on-mobile" routerLink="/">
                    <!-- <p style="color: #ce202f;">Superior Digital</p> -->
                <!-- <div style="width: 119px; height: 35px; object-fit: contain; display: flex;
                align-items: center; margin-left: -30px;">
                    <img src="assets/images/Minimal-Business-Logo-Reveal-f-unscreen.gif" alt="logo"  />
                </div> -->
                </a>
                <button class="navbar-toggler" type="button" (click)="toggleClass()">
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" >
                    <ul class="navbar-nav text-left">
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">About Us</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/ourapproach" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Our Approach</a></li>

                                <li class="nav-item"><a routerLink="/ourvision" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Our Vision</a></li>

                                <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Superior Story</a></li>
                                
                                <li class="nav-item"><a routerLink="/activity" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Our Events</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/case-studies" class="nav-link dropdown-toggle" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Apple</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/apple-enterprise" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Why Apple for your enterprise?</a></li>

                                <li class="nav-item"><a routerLink="/products" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Products</a></li>
                                
                                <!-- <li class="nav-item"><a routerLink="/apple-program" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Apple Programs</a></li> -->

                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Drive innovations with Apple</a></li>
                                <!-- <li class="nav-item"><a routerLink="/" fragment="about-us" class="nav-link" (click)="closeMenu()">About Us</a></li> -->

                                <li class="nav-item"><a routerLink="/" fragment="superior_digital" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Why Choose superior digital</a></li>

                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Resources for your IT strategy</a></li>

                                <li class="nav-item"><a routerLink="/case-studies" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Success Stories</a></li>
                            </ul>                        
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Apple Programs</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/apple-program" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Mac for Developers</a></li>

                                <li class="nav-item"><a routerLink="/impetus" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Impetus</a></li>

                                <li class="nav-item"><a routerLink="/emp-purchase-program" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Smart Employee Purchase Program</a></li>
                            </ul>
                        </li>

                        <!-- <li class="nav-item">
                            <a routerLink="/case-studies" class="nav-link dropdown-toggle" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Case Studies</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/essilor" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Essilor's Digital Transformation</a></li>

                                <li class="nav-item"><a routerLink="/remidio" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Remidio</a></li>
                                
                                <li class="nav-item"><a routerLink="/westpharma" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">WestPharma</a></li>

                                <li class="nav-item"><a routerLink="/msrit" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">MSRIT</a></li>

                                <li class="nav-item"><a routerLink="/jain" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Jain University</a></li>

                                <li class="nav-item"><a routerLink="/sowparnika" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Sowparnika Homes</a></li>

                            </ul>                        
                        </li> -->

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Enterprise Solutions</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Seamless Apple Deployment & Integrations</a></li>

                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Apple Finance & Flexible Payment Plans</a></li>

                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Comprehensive Apple Maintenance & Support</a></li>

                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Custom Apple Training & Enablement</a></li>

                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Apple Ecosystem Consulting</a></li>

                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Exclusive Apple Upgrade Programs</a></li>

                                <li class="nav-item"><a routerLink="/" fragment="superior_packages" class="nav-link" routerLinkActive="active" (click)="closeMenu()">Superior packages for Enterprise</a></li>

                                <li class="nav-item"><a routerLink="/our-services" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Services</a></li>

                               <!--  <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle">Services</a>
                                    <ul class="dropdown-menu" style="position: absolute; left: 0; top: 100%; min-width: 200px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1); z-index: 1000;">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">Service1</a>
                                            <ul class="dropdown-menu" style="position: absolute; left: 100%; top: 0; min-width: 200px; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1); z-index: 1000;">
                                                <li class="nav-item"><a routerLink="/service1" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Service1</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> -->
                            </ul>
                        </li>

                       

                        <li class="nav-item"><a routerLink="/apple-business" class="nav-link" (click)="closeMenu()">Apple Business Manager</a></li>
                    </ul>
                </div>
                <!-- <div class="nav-right">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control search" placeholder="Search..." />
                        </div>

                        <button type="submit">
                            <i class="bx bx-search"></i>
                        </button>
                    </form>
                </div> -->
                <div class="nav-btn">
                    <a routerLink="/service" class="box-btn">Request Service</a>&nbsp;
                    <a routerLink="/contact" class="box-btn border-btn">Contact Sales</a>
                </div>
            </nav>
        </div>
    </div>
</div>