<div class="page-title-area">
    <img src="assets/images/leasing_banner_new.jpeg" alt="Page Background" class="page-bg">
    <div class="container">
        <div class="page-title-content">
            <h2>Leasing</h2>
        </div>
    </div>
  <!--   <div class="page-shape">
        <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>
        <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>
        <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>
        <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>
        <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>
    </div> -->
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="circular-layout">
                            <div class="image-container">
                              <img src="assets/images/solutions-details/53.png" alt="image" class="image-container-img"/>
                            </div>
                          </div>
                    </div>
                    <!-- <div class="services-img mb-qc ios-content">
                        <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/solutions-details/53.png" alt="Person">
                        </div>
                    </div> -->
                </div>

                <div class="col-lg-6">
                    <p>Superior Digital recently conducted a Free Health Check for Apple MacBook Pro and MacBook Air devices at a leading multinational corporation. Our Apple Certified Engineers performed in-depth diagnostics, identifying potential issues and optimizing performance.</p>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p>We also guided employees on best practices for device maintenance, security, and longevity to enhance productivity. The session provided valuable insights on storage management, battery health, software updates, and data protection. Empower your team with expert Mac assessments—contact us for a customized health check at your organisation!</p>
                </div>

                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="circular-layout">
                            <div class="image-container">
                              <img src="assets/images/solutions-details/54.png" alt="image" class="image-container-img"/>
                            </div>
                          </div>
                    </div>
                   <!--  <div class="services-img mb-qc ios-content">
                        <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/solutions-details/54.png" alt="Person">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="circular-layout">
                            <div class="image-container">
                              <img src="assets/images/solutions-details/55.png" alt="image" class="image-container-img"/>
                            </div>
                          </div>
                    </div>
                   <!--  <div class="services-img mb-qc ios-content">
                        <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/solutions-details/55.png" alt="Person">
                        </div>
                    </div> -->
                </div>

                <div class="col-lg-6">
                    <p>Superior Digital hosted a team get-together with our Sales, Pre-Sales Team, and Business Head to foster collaboration and align on our shared vision. The session focused on understanding each team member's strengths and expertise, enabling us to work more effectively together. </p>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="scrives-item-2 mt-4 ">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <p> We had insightful discussions on how to ensure customer service excellence by delivering the best Apple device and MDM solutions tailored to business needs. By leveraging our collective knowledge, we aim to provide seamless deployment, management, and support for Apple ecosystems. Stronger teamwork leads to better solutions—let's transform IT experiences together!</p>
                </div>

                <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                    <div class="services-img mb-qc ios-content">
                        <div class="circular-layout">
                            <div class="image-container">
                              <img src="assets/images/solutions-details/56.png" alt="image" class="image-container-img"/>
                            </div>
                          </div>
                    </div>
                   <!--  <div class="services-img mb-qc ios-content">
                        <div class="image-wrapper">
                            <div class="background-shape shape1"></div>
                            <div class="background-shape shape2"></div>
                            <img src="assets/images/solutions-details/56.png" alt="Person">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mb-4">
    <div class="d-flex justify-content-end">
        <button class="btn back-btn" (click)="navigateToHome()">
            <i class="fas fa-arrow-left me-2"></i> Back to Home
        </button>
    </div>
</div>