<!-- <a href="https://superiorsystems.in/apple" target="_blank" class="floating-coin">
    <div class="coin">
      <div class="front">
        <img src="assets/images/superior.png" alt="Logo">
      </div>
      <div class="back">
        <img src="assets/images/authorized.png" alt="Logo">
      </div>
    </div>
  </a>
   -->
  <div class="page-title-area">
      <img src="assets/images/mobility_new1.jpg" alt="Page Background" class="page-bg">
      <button class="back-arrow-btn" (click)="navigateToHome()">
          <i class="fas fa-chevron-left fa-2x"></i>
      </button>
      <div class="container">
          <div class="page-title-content">
              <h2>Mobility</h2>
          </div>
      </div>
  
      <div class="page-shape">
          <div class="shape1"><img src="assets/images/shape/1.png" alt="shape" /></div>
          <div class="shape3"><img src="assets/images/shape/3.png" alt="shape" /></div>
          <div class="shape4"><img src="assets/images/shape/4.png" alt="shape" /></div>
          <div class="shape5"><img src="assets/images/shape/5.png" alt="shape" /></div>
          <div class="shape6"><img src="assets/images/shape/6.png" alt="shape" /></div>
      </div>
  </div>
  
  <section class="services-details-area ptb-100">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title">
                      <h2>Welcome to Our Enterprise Mobility Solutions</h2>
                  </div>
                  <p>In today's rapidly evolving business landscape, staying connected and agile is essential for
                      success. We offer comprehensive mobility solutions architected to meet the unique needs of
                      enterprises across industries. Our solutions empower your workforce to access critical business
                      information anytime, anywhere, ensuring maximum productivity and efficiency.</p>
              </div>
          </div>
      </div>
          <div class="scrives-item-2 mt-5">
              <div class="row align-items-center" style="margin: auto;">
                 <!--  <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                      <div class="services-img mb-qc ios-content">
                          <div class="image-wrapper">
                              <div class="background-shape shape1"></div>
                              <div class="background-shape shape2"></div>
                              <img src="assets/images/mobi2.png" alt="Mobility Solutions">
                          </div>
                      </div>
                  </div> -->
  
  
                      <h2 style="padding-left: 6%;">Key Features of Our Mobility Solutions</h2>
                      <br>
  
                      <div class="grid-container-wrapper">
                          <button class="nav-arrow left-arrow" (click)="scrollLeft()">&#10094;</button>
                          
                          <!-- <div class="grid-container" #gridContainer>
                            <div class="grid-item" *ngFor="let item of gridItems; let i = index"
                                 [class.active]="i === activeIndex"
                                 [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
                                 (click)="goToSlidegrid(i)">
                              <div class="content">
                                <h3 style="color: #fff;">{{ item.title }}</h3>
                                <p style="color: #fff; text-align: justify;">{{ item.description }}</p>
                              </div>
                            </div>
                          </div> -->
  
                          <div class="grid-container" #gridContainer>
                              <div class="marquee-wrapper">
                                <div class="grid-item" *ngFor="let item of gridItems; let i = index"
                                     [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
                                     (click)="goToSlidegrid(i)">
                                  <div class="content">
                                    <h3 style="color: #fff; font-size: 32px; text-align: center;">{{ item.title }}</h3>
                                    <p style="color: #fff; text-align: justify; font-size: 16px;">{{ item.description }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          
                          <button class="nav-arrow right-arrow" (click)="scrollRight()">&#10095;</button>
                        </div>
                      <!-- <div class="accordion-container">
                          <div class="accordion">
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Seamless Integration</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Our solutions easily integrate with existing enterprise systems and
                                          platforms, ensuring a smooth transition and minimal disruption to your
                                          operations.</p>
                                  </div>
                              </div>
  
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Enhanced Security</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Protecting your data is our top priority. We offer advanced security features,
                                          including encryption, multi-factor authentication, and remote wipe capabilities,
                                          to safeguard
                                          sensitive information against cyber threats.</p>
                                  </div>
                              </div>
  
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Customisable Applications</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>We provide a range of customisable mobile applications designed to
                                          streamline workflows and increase operational efficiency. These applications are
                                          intuitive and user
                                          friendly, requiring minimal training and support.</p>
                                  </div>
                              </div>
  
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Real-time Analytics</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Gain insights into your business operations with real-time data analytics. Our
                                          solutions offer detailed reports and analytics to help you make informed
                                          decisions and stay ahead
                                          of the competition.</p>
                                  </div>
                              </div>
  
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Scalable Solutions</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>As your business grows, our mobility solutions can scale to meet your
                                          evolving needs. Whether you're expanding your workforce or entering new markets,
                                          we have the
                                          technology and expertise to support your growth.</p>
                                  </div>
                              </div>
                          </div>
                      </div> -->
                 
              </div>
          </div>
    
      <div class="scrives-item-2 mt-5">
          <div>
              <h2 style="padding-left: 50px; text-align: center;">Mobility Solutions</h2>
              <br>
              <div class="contact-container">
                  <div class="form-box">
                      <div class="form-left">
                          <br>
                          <h2 style="text-align: center; color: white;">Benefits of Using Our Enterprise Mobility Solutions</h2>
                          <br>
                          <div class="cards-container" #cardsContainer>
                              <div class="card" *ngFor="let card of cards; let i = index"
                                  [class.active]="i === activeIndex">
                                  <h1 style="font-size: 20px; font-weight: bold; text-align: center;">{{ card.title }}</h1>
                                  <p>{{ card.description }}</p>
                              </div>
                          </div>
                          <div class="dots">
                              <span *ngFor="let card of cards; let i = index" [class.active]="i === activeIndex"
                                  (click)="goToSlide(i)"></span>
                          </div>
                      </div>
                  </div>
              </div>
              <!--    <div class="accordion-container">
                          <div class="accordion">
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Increased Productivity</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Enable your team to work more efficiently with instant access to the tools 
                                      and information they need, no matter where they are.</p>
                                  </div>
                              </div>
                              
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Improved Collaboration</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Foster better communication and collaboration among teams with 
                                      seamless connectivity and sharing platforms.</p>
                                  </div>
                              </div>
                              
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Cost Efficiency</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Reduce operational costs by streamlining processes and eliminating 
                                      unnecessary manual tasks.</p>
                                  </div>
                              </div>
                              
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Enhanced Customer Experience</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Provide your customers with a seamless and responsive 
                                      service experience, enhancing satisfaction and loyalty.</p>
                                  </div>
                              </div>
                              
                              <div class="accordion-item">
                                  <div class="accordion-header" (click)="toggleAccordion($event)">
                                      <h3>Competitive Advantage</h3>
                                      <i class="bx bx-chevron-down"></i>
                                  </div>
                                  <div class="accordion-content">
                                      <p>Stay ahead of the competition with cutting-edge technology that keeps 
                                      your business agile and innovative.</p>
                                  </div>
                              </div>
                          </div>
                      </div> -->
          </div>
      </div>
  </section>
  
  <div class="container mb-4">
      <div class="d-flex justify-content-end">
          <button class="btn back-btn" (click)="navigateToHome()">
              <i class="fas fa-arrow-left me-2"></i> Back to Home
          </button>
      </div>
  </div>