.home-case .case-list .single-case .content h3 {
    font-size: 18px;
    line-height: 1.2;
}

.case-img {
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        // background: linear-gradient(135deg, #1a237e, #0d47a1);
        border-radius: 8px;
        position: relative;
        
        i {
            font-size: 3rem;
            color: white;
            margin: 0 10px;
            transition: transform 0.3s ease;
        }

        i.fa-apple {
            font-size: 4rem;
        }

        &:hover {
            i {
                transform: scale(1.1);
            }
        }
    }
}